button{
    padding:.6rem;
    margin: .5rem;
    background-color: #0d2b52;
    color:white;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: #15d163;
}
.card-details{
    width:50%;
    margin: 1rem auto;

}